@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5;
}

.table-header {
  background-color: #1e1e1e;
  color: white;
}

.btn-black {
  background-color: #1e1e1e !important;
  color: white !important;
}

.btn-black:hover {
  background-color: #2d2d2d !important;
}

